body {
  font-family: "Roboto", sans-serif;
  padding: 16px;
}
.jumbotron {
  background: #532f8c;
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #b01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}
.container {
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 8px;
  padding: 26px;
  margin-bottom: 16px;
  margin-top: 16px;
  width: 80vw;
}

.sub-container {
  padding: 24px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-radius: 8px;
  background-color: rgb(235, 235, 235);
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 49% 50%;
  width: 80vw;
  margin-bottom: 16px;
  margin-top: 16px;
  margin: 0 auto;
  grid-column-gap: 1%;
}

.stat {
  margin-top: 4px;
}

.sub-grid {
  display: grid;
  grid-template-columns: 49% 50%;
  align-self: baseline;
  grid-column-gap: 1%;
  margin-top: 5%;
}

h2 {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  margin-top: 4px;
}

#fill {
  height: 50%;
}

#recent {
  font-size: x-large;
}
