body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(245, 245, 245);
}
.jumbotron {
  background: #532f8c;
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #b01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}

.home-background {
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../homelayer.svg");
  background-position: center;
  top: 0px;
  background-attachment: fixed;
  height: 100vh;
  border-color: lightgray;
}

.container {
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 8px;
  padding: 26px;
  margin-bottom: 32px;
  margin-top: 32px;
  width: 80vw;
  box-shadow: 1rem 1rem 1rem rgb(0, 0, 0, 0.25);
}

.sub-container {
  padding: 24px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-radius: 8px;
  background-color: rgb(245, 245, 245);
  width: 100%;
  box-shadow: 1rem 1rem 1rem rgb(0, 0, 0, 0.25);
}

.grid {
  display: grid;
  grid-template-columns: 49% 50%;
  width: 80vw;
  margin-bottom: 16px;
  margin-top: 16px;
  margin: 0 auto;
  grid-column-gap: 1%;
}

.stat {
  margin-top: 4px;
  font-size: xx-large;
}

.sub-grid {
  display: grid;
  grid-template-columns: 49% 50%;
  align-self: baseline;
  grid-column-gap: 1%;
  padding: auto;
}

h2 {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  margin-top: 4px;
}

p {
  font-size: large;
}
.stat-field {
  margin: auto;
  margin-top: 10%;
}

.spacer-top {
  aspect-ratio: 900/100;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  bottom: 0px;
  background-size: cover;
  background-image: url("../spacertop.svg");
}
